html {
	background: #ededed;
	color: #b3b3b3;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	> body {
		font: 500 13px/20px sans-serif;
		flex: 1 1 0;
		> main {
			&.split-view {
				display: flex;
				height: 100%;
				max-height: 100%;
			 	--margin-right: 0.5rem;
			 	> * {
					margin: 0 var(--margin-right) 0 0;
					&:last-child {
						margin-right: 0;
					}
				}
				> textarea {
					transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
					font: 400 1rem/1.12 sans-serif;
					padding: 0.38rem 0.5rem;
					border-radius: 0.25rem;
					border: 1px solid #ccc;
					overflow: auto;
					height: auto;
					outline: 0;
					box-shadow: none;
					background-color: #fff;
					color: #495057;
					--min-width: 4rem;
					&.original {
						resize: horizontal;
						min-height: -webkit-fill-available;
						min-width: var(--min-width);
						width: calc(50% - var(--margin-right));
					}
					&.changed {
						resize: none;
						flex: 1 1 var(--min-width);
					}
					&:focus {
						border-color: #495057;
						box-shadow: 0 0 0 0.15rem #007bff40;
					}
				}
				> .buttons-group {
					align-self: center;
				}
			}
		}
	}
}
